@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

.headerContainer{
    border:2px solid red;
}
.headerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid green;
}
.linksFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}