@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
img{
    display: block;
}

.headerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.linksNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    
}
.linksNav li{
    list-style: none;
    margin-right: 35px;
    display: inline-block;
    
}

.linksNav li a:link,a:visited{
    color: rgb(118, 118, 118);
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    display: inline-block;
}
.logoContainer{
    width:10%;
    margin-left: 30px;
}
.logoContainer img{
    width:auto;
    height:30px;
    
}
.headerFlex button{
    width: 129px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(4, 221, 178);
    color:white;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none;
    
}

.layer1Container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.layer1TextsFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 2.5rem;
}
.layer1Heading{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}
.layer1Heading span{
    color: rgb(4, 221, 178);
}

.layer1Paragraph{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 1.45px;
    
    
}
.videoFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoFlex img:hover{
    
    transform: scale(1.01);
    box-shadow:  0 10px 30px black;;
}

.video-image{
    width:75%;
    margin-top: 70px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}



.final-layer{
    display: flex;
    flex-direction: column;
}

.finalFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-bottom{
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 20px;
}

.download-bottom{
    width: 129px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(4, 221, 178);
    color:white;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none;
}

@media (width <= 963px) {
    .linksNav{
        display: none;
    }
}
@media  (width <= 724px){
    .layer1Paragraph{
        font-size: 10px;
    }
    .layer1Heading{
        font-size: 35px;
    }
    .heading-bottom{
        font-size: 24px;
    }
}
@media (width <= 550px){
    .layer1Paragraph{
        font-size: 8px;
    }
}
@media (725px <= width <= 1100px){
    .layer1Paragraph{
        font-size: 15px;
    }
    .layer1Heading{
        font-size: 45px;
    }
    .heading-bottom{
        font-size: 45px;
    }
}



